* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.back {
    background-color:#1E1E1E;
    color: #00FF00;
}
.TotalFormation {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
}
.container  {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    background-color: rgba(103, 103, 103, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(103, 103, 103, 0.7);
}



button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(163, 163, 163);
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgb(163, 163, 163);
}

button:hover {
    background-color: rgb(177, 153, 157);
}

#option-content {
    margin-top: 20px;
    font-size: 1rem;
    list-style-type: none;
}


.texteF {
    margin-top: 20px;
    text-align: left;
}

.TotalDebouche {
    margin-top: 50px;
    padding: 20px;
    max-width: 600px;
    background-color: rgba(103, 103, 103, 0.7);
    box-shadow: 0 4px 8px rgba(103, 103, 103, 0.7);
    border-radius: 10px;
    text-align: left;
}

.TotalDebouche h1 {
    text-align: center;
}

.TotalDebouche ul {
    margin-top: 50px;
    font-size: 1rem;
    margin-left: 20px;
}